.drug-page a {
    text-decoration: none;
    color: #000;
}
.drug-page-right {
    flex-direction: column;
    align-items: center;
}
.drug-page-right .sticky-wrapper {
    width: 100%;
}
.drug-page-left {
    position: relative;
}
.drug-page-left h3 {
    margin-top: 23px;
    margin-bottom: 18px;
}
.drug-page__drug-name {
    margin-top: 25px;
    margin-bottom: 22px;
}
.drug-page__top-menu {
    margin-top: 101px;
    display: flex;
    margin-bottom: 18px;
}
.drug-page__top-menu__item {
    font-size: 18px;
}
.drug-page__release-form {
    margin-bottom: 13px;
}
.drug-page__mnn {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    margin-top: 33px;
}
.drug-page__mnn > span {
    color: #713091;
    font-size: 18px;
    margin-left: 27px;
}
.drug-page__divider {
    width: 100%;
    height: 1px;
    background-color: #ccc;
}
.drug-page__drug-photo {
    width: 100%;
    margin-top: 75px;
}
.drug-page__maintenance {
    background-color: #fff;
    width: 100%;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-top: 23px;
}
.drug-page__maintenance.bottom {
    position: absolute;
    bottom: 0;
}
.drug-page__maintenance h3 {
    margin-bottom: 26px;
    margin-left: 98px;
}
.drug-page__maintenance li {
    list-style: none;
    margin-left: 98px;
    margin-right: 24px;
    font-size: 18px;
    line-height: 26px;
}
.drug-page__maintenance li a.active {
    color: #AA5EC4;
}
.drug-page__big-banner {
    width: 87%;
    margin-top: 45px;
    margin-bottom: 20px;
}
.drug-page-content-left p {
    margin-top: 18px;
}
.drug-page__price-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
.drug-page__price-title span {
    margin-left: 40px;
    color: #713091;
    font-size: 18px;
    margin-left: 27px;
}
.drug-page__price-block {
    background: linear-gradient(179.4deg, #AA5EC4 -20.66%, #713091 131.19%);
    border-radius: 18px;
    box-shadow: 0px 4px 20px #AA5EC4;
    padding: 15px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 41px;
    margin-top: 27px;
    position: relative;
}
.drug-page__price-block__close {
    display: none;
}
.is-sticky .drug-page__price-block__close {
    display: block;
    position: absolute;
    top: -24px;
    right: 21px;
    color: #777;
    text-transform: lowercase;
    cursor: pointer;
}
.drug-page__price-block span {
    color: #fff;
    font-size: 18px;
    line-height: 26px;
}
.drug-page__price-block button {
    background-color: #EE2020;
    border-radius: 24px;
    border: none;
    font-size: 18px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 10px 40px;
    cursor: pointer;
}
.drug-page__price-block button:focus {
    outline: none;
}
.drug-page__price-block button:hover {
    transform: scale(1.015);
}
.drug-page__price-block button:active {
    transform: scale(0.99);
}
.drug-page__reviews {
    margin-bottom: 25px;
    margin-top: 40px;
}
.drug-page__apteka-prices h2 {
    margin-bottom: 10px;
}
.drug-page__apteka-prices h3 {
    margin-bottom: 43px;
}
.drug-page__apteka-prices__item {
    margin-bottom: 25px;
    margin-top: 15px;
}
.drug-page__apteka-prices__item > div:last-child {
    padding: 0;
    text-align: center;
}
.drug-page__apteka-prices__item > div:last-child > div {
    display: flex;
    align-items: center;
}
.drug-page__apteka-prices__price-col {
    font-family: Bold;
    font-size: 18px;
    color: #8540A3;
}
.drug-page__apteka-prices > .title > div {
    padding-left: 0;
}
.drug-page__apteka-prices > .title > div:first-child {
    padding-left: 15px;
}
.drug-page__apteka-prices__phone-col i {
    color: #8540A3;
    font-size: 34px;
}
.drug-page__apteka-prices__item-address  {
    margin-bottom: 7px;
    font-family: Light;
    font-size: 18px;
}
.drug-page__apteka-prices__item-worktime  {
    color: #53994D;
    font-size: 18px;
}
.drug-page__apteka-prices .banner {
    width: 100%;
}
.drug-page__apteka-prices__item-reklama {
    color: #F26060;
    font-size: 14px;
    margin-right: 35px;
}
.drug-page__apteka-prices__item-additional {
    display: flex;
    font-family: Light;
    margin-top: 9px;
}
.drug-page__apteka-prices__item-additional-item .check_circle {
    color: #53994D;
    font-size: 14px;
}
.drug-page__apteka-prices__item-additional-item .add_circle {
    color: #F26060;
    font-size: 14px;
    transform: rotate(45deg);
}

@media screen and (max-width: 992px) {
    .drug-page__drug-name {
        margin-top: 40px;
    }
}
@media screen and (max-width: 440px) {
    .drug-page__apteka-prices__item i.drug-item {
        min-width: 52px;
        height: 53px;
        margin-right: 15px;
    }
}
@media screen and (max-width: 556px) {
    .drug-page__apteka-prices__item_name_bottom {
        flex-direction: column;
    }
}

