.main-page__content menu {
  padding-inline-start: 0px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: calc(100% + 20px);
}
.main-page__content menu li {
  list-style: none;
  width: calc(100% - 20px);
  padding: 0 20px 0 0;
}
.main-page__content menu li .box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.06);
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #713091;
  font-family: Bold;
  padding: 10%;
  margin-bottom: 20px;
  cursor: pointer;
}
.main-page__content menu li .box.active {
  background: linear-gradient(176.12deg, #AA5EC4 -104.96%, #713091 184.38%);
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  color: #fff;
}
.main-page__content menu li .box i {
  width: 50%;
  padding-bottom: 65%;
  background-repeat: no-repeat;
  display: block;
  background-size: contain;
}
.main-page__content menu li .box i.menu-img-apteki {
  background-image: url(/img/main-menu-icons/apteki.svg);
}
.main-page__content menu li .box.active i.menu-img-apteki {
  background-image: url(/img/main-menu-icons/apteki-w.svg);
}
.main-page__content menu li .box i.menu-img-drugs {
  background-image: url(/img/main-menu-icons/drugs.svg);
}
.main-page__content menu li .box.active i.menu-img-drugs {
  background-image: url(/img/main-menu-icons/drugs-w.svg);
}
.main-page__content menu li .box i.menu-img-medcenters {
  background-image: url(/img/main-menu-icons/medcenters.svg);
}
.main-page__content menu li .box.active i.menu-img-medcenters {
  background-image: url(/img/main-menu-icons/medcenters-w.svg);
}
.main-page__content menu li .box i.menu-img-doctors {
  background-image: url(/img/main-menu-icons/doctors.svg);
}
.main-page__content menu li .box.active i.menu-img-doctors {
  background-image: url(/img/main-menu-icons/doctors-w.svg);
}
.main-page__content menu li .box i.menu-img-services {
  background-image: url(/img/main-menu-icons/services.svg);
}
.main-page__content menu li .box.active i.menu-img-services {
  background-image: url(/img/main-menu-icons/services-w.svg);
}
.main-page__content menu li .box i.menu-img-ills {
  background-image: url(/img/main-menu-icons/ills.svg);
}
.main-page__content menu li .box.active i.menu-img-ills {
  background-image: url(/img/main-menu-icons/ills-w.svg);
}

.main-page__also-intrested {
  margin-bottom: 29px;
  margin-top: 50px;
}
.main-page__also-intrested h1 {
  margin-bottom: 42px;
}
.main-page__also-intrested__row img {
  width: 100%;
  margin-bottom: 20px;
}
