@import '../../vars.scss';

.doctors-item-page {
  padding: 53px 0;
  @include media(0, $media-md) {
    padding: 30px 0;
  }
  h1 {
    margin-bottom: 17px;
    word-break: break-word;
    @include media(0, $media-sm) {
      font-size: 28px;
      line-height: 32px;
    }
  }
  h3 {
    @include media(0, $media-sm) {
      font-size: 23px;
      line-height: 26px;
    }
  }
  h4 {
    font-size: 16px;
    line-height: 23px;
    font-family: Light;
  }
  p {
    font-size: 18px;
    line-height: 26px;
    font-family: Bold;
    margin-top: 5px;
    @include media(0, $media-sm) {
      margin-bottom: 13px;
    }
  }
  .first-row {
    margin-top: 38px;
    margin-bottom: 13px;
    @include media(0, $media-lg) {
      margin-top: 15px;
    }
  }
  .intresting {
    margin-top: 30px;
    @extend %services-intresting;
  }
  .other-cities {
    @extend %services-cities;
  }
}

.doctors-item-page .main-info {
  .address, .status {
    font-size: 18px;
    font-family: Light;
  }
  .btns {
    @include media(0, $media-md) {
      margin-top: 13px;
    }
  }
  .btns button {
    width: 52px;
    height: 51px;
    background-color: transparent;
    color: $mainColor;
    padding-top: 5px;
    @include media(0, $media-lg) {
      width: 40px;
      height: 40px;
    }
    &:nth-child(3) {
      background-color: #fff;
      color: #F26060;
      font-size: 24px;
    }
    &:hover {
      background-color: #f2f2f2;
    }
  }
  .status {
    display: flex;
    align-items: center;
    padding-bottom: 17px;
    border-bottom: 1px solid #CCCCCC;
  }
  .status .dot {
    background: #34BE4A;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    margin-right: 10px;
  }
}

.doctors-item-page .tabs {
  display: flex;
  border-bottom: 1px solid #CCCCCC;
  margin-top: 23px;
  a {
    color: #000;
  }
  .tab-item {
    cursor: pointer;
    margin-right: 80px;
    padding-bottom: 17px;
    @include media(0, $media-md) {
      margin-right: 35px;
    }
    &.active {
      color: $mainColor;
      border-bottom: 4px solid $mainColor;
    }
  }
}

.doctors-item-page  .main-tab {
  .about {
    font-family: Regular;
    font-size: 18px;
    padding: 43px 0 18px 0;
    border-bottom: 1px solid #CCCCCC;
  }
  
  .second-info {
    padding: 22px 0 18px 0;
    border-bottom: 1px solid #CCCCCC;
  
    .schedule {
      margin-top: 31px;
      display: flex;
      justify-content: space-between;
      @include media(0, $media-sm) {
        flex-direction: column;
        margin-top: 10px;
      }
    }
  }
  
  .delivery {
    padding: 21px 0 17px 0;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 35px;
  }
}

.doctors-item-page  .service-tab {
  padding-top: 32px;
  .service-title {
    font-size: 24px;
    margin-bottom: 21px;
    font-family: Bold;
  }
  .service-block {
    padding: 12px 0;
    .top {
      display: flex;
      align-items: center;
    }
    .name, .price {
      font-family: Regular;
      font-size: 18px;
    }
    .divider {
      background-color: #000;
      height: 1px;
      flex: 1;
      margin: 0 20px;
    }
    .desc {
      font-size: 14px;
      width: 80%;
    }
  }
}

.doctors-item-page .doctor-photo {
  background-image: url(/img/bg/doctor-photo.png);
  background-position: center;
  background-size: cover;
  width: 377px;
  height: 196px;
  max-width: 100%;
  margin-bottom: 20px;
}
.doctors-item-page .doctor-booking {
  margin-top: 23px;
  @extend %booking-form;
}