@import '../../vars.scss';
@import './drugs-result.scss';
@import './search-page/index.scss';
@import './item-page/index.scss';
@import './services-page-template.scss';
@import './services-list.scss';
@import './services-intresting.scss';

.drugs-page,
.diseases-page,
.med-services-page,
.doctors-page,
.pharmacy-page,
.med-centers-page {
  @extend %services-page-template;
}

div[class$="-page-body"] {
  overflow-x: hidden;
}

div[class$="-search-page"] {
  @extend %page-search-template;
  .big-banner { background-image: url(/img/reklama/oyca.png); }
  .banner { background-image: url(/img/reklama/village.png); }
}

div[class$="-item-page"] {
  @extend %page-item-template;
  .intresting {
    @extend %services-intresting;
  }
  .other-cities {
    @extend %other-cities;
  }
}

