@import '../../vars.scss';
@import './doctors-item.scss';

.drugs-page,
.diseases-page,
.med-services-page,
.doctors-page,
.pharmacy-page,
.med-centers-page {
  @extend %services-page-template;
}

.doctors-search-page,
.pharmacy-search-page,
.med-centers-search-page {
  @extend %page-search-template;
  .big-banner { background-image: url(/img/reklama/oyca.png); }
  .banner { background-image: url(/img/reklama/village.png); }
  &-body .booking-modal form {
    @extend %booking-form;
    @include media(0, $media-md) {
      margin: 15px;
    }
  }
}

.doctors-item-page {
  .intresting {
    @extend %services-intresting;
  }
  .other-cities {
    @extend %services-cities;
  }
}

