@import '../../vars.scss';

%page-search-template {
  padding: 60px 0;
  @include media(0, $media-md) {
    padding: 30px 0;
  }
  .top-settings {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 20px;
  
    i {
      margin-right: 10px;
    }
    .item {
      font-size: 18px;
      font-family: Medium;
      cursor: pointer;
      display: flex;
      align-items: center;
    }
  }
  .list-item {
    @extend %page-search-list-item;
  }
  .banner, .big-banner {
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  .banner {
    height: 109px;
    background-color: #bbb;
  }
  .big-banner {
    height: 260px;
    background-color: #bbb;
  }
  .search form {
    @extend %search;
    margin-bottom: 60px;
    margin-top: 29px;
    input {
      padding: 15px 40px;
    }
  }
  .pagination {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media(0, $media-sm) {
      flex-direction: column;
      margin: 30px 0;
    }
    @include media($media-lg, 1200px) {
      flex-direction: column;
      margin: 30px 0 60px 0;
    }
    .block {
      @extend %pagination;
      @include media(0, $media-sm) {
        margin-top: 20px;
      }
      @include media($media-lg, 1200px) {
        margin-top: 20px;
      }
    }
  }
  .intresting {
    @extend %services-intresting;
  }
  .other-cities {
    @extend %services-cities;
  }
}