@import './vars.scss';

.diseases-page {
  padding: 48px 0;

  .desktop-list {
    @extend %services-menu;
    margin-bottom: 70px;
  }
  .mobile-list {
    margin-bottom: 50px;
    .var {
      width: 100%;
      @extend %expand;
      list-style: none;
      margin-bottom: 20px;
      .main { padding: 15px 30px!important; }
      .arrow { top: 25px!important; }
    }
    a {
      font-size: 18px;
      color: #000;
      font-family: Regular;
      &:hover {
        color: $mainColor;
      }
    }
    .inner li {
      margin-bottom: 8px;
      list-style: none;
      font-size: 18px;
    }
  }
}

.diseases-page .search {
  margin-bottom: 72px;
  @include media(0, $media-lg) {
    margin-bottom: 40px;
  }
  h1 {
    margin-bottom: 27px;
  }
  form {
    @extend %search;
  }
}

.diseases-page .intresting {
  h2 {
    font-family: UltraBold;
    font-size: 36px;
    margin-bottom: 40px;
  }
  &-item {
    display: block;
    color: #000;
    background-color: #fff;
    border-radius: 13px;
    overflow: hidden;
    margin-bottom: 16px;
  }
  .img-block {
    height: 150px;
    background-image: url(/img/bg/doctor.png);
    background-size: cover;
    background-position: center;
  }
  .desc {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      font-size: 18px;
      font-family: Bold;
      margin-bottom: 10px;
    }
    .address {
      margin-bottom: 6px;
      font-size: 14px;
    }
    .status {
      display: flex;
      align-items: center;
      
      p {
        font-size: 12px;
      }
    }
    .status-dot {
      width: 6px;
      height: 6px;
      background-color: #53994D;
      margin-right: 7px;
      border-radius: 100%;
    }
  }
}

.diseases-page-body .ui-autocomplete li {
  background-color: red;
}