@import './vars.scss';
@import './common/index.scss';
@import './components/index.scss';
@import './pages/index.scss';


@font-face {
  font-family: "Bold";
  src: url("/fonts/GT-Walsheim-Pro-Bold.ttf");
}
@font-face {
  font-family: "UltraBold";
  src: url("/fonts/GT-Walsheim-Pro-Ultra-Bold.ttf");
}
@font-face {
  font-family: "Light";
  src: url("/fonts/GT-Walsheim-Pro-Light.ttf");
}
@font-face {
  font-family: "Medium";
  src: url("/fonts/GT-Walsheim-Pro-Medium.ttf");
}
@font-face {
  font-family: "Regular";
  src: url("/fonts/GT-Walsheim-Pro-Regular.ttf");
}

.container {
  max-width: 100%!important;
}