$gradient: linear-gradient(178.39deg, #AA5EC4 -104.96%, #713091 184.38%);
$mainColor: #713091;
$grey1: #F7F7F7;

$shadow1: 0px 4px 15px rgba(0,0,0,0.15);
$shadow2: 0px 4px 15px #{$mainColor}dd;
$shadow3: 0px 4px 15px rgba(0,0,0,0.07);
$shadowHeader: 0px 4px 10px rgba(0,0,0,0.03);

%button {
  cursor: pointer;
  font-family: Medium;
  color: #fff;
  background: $gradient;
  border-radius: 24px;
  font-size: 18px;
  border: none;

  &:focus {
    outline: none;
  }
  &:active {
    transform: scale(0.98);
  }
}

$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;
@mixin media($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}