@import '../../vars.scss';
@import './text-markdown.scss';
@import './menu.scss';
@import './slider.scss';
@import './search.scss';


.main-page-body .top-reklama {
  background-image: url(/img/reklama/top-adv.png);
  background-size: cover;
  background-position: center;
  height: 153px;
}
.main-page {
  overflow-x: hidden;
}
.main-page .first-block {
  padding: 55px 0 92px 0;

  .slider-block {
    margin-top: 80px;
    @include media(0, $media-lg) {
      margin-top: 40px;
    }
    i {
      display: block;
      width: 77px;
      height: 88px;
      background-size: cover;
    }
    .text {
      width: 131px;
      word-break: break-word;
      text-align: left;
      margin-left: 50px;
    }
    i.menu-img-doctors {
      background-image: url(/img/icons/main-menu/doctors-w.svg);
    }
    i.menu-img-ills {
      background-image: url(/img/icons/main-menu/ills-w.svg);
      width: 71px;
      height: 88px;
    }
    .buttons {
      padding-left: 0;
      @include media(0, $media-lg) {
        padding-left: 15px;
      }
    }
    a.big-btn {
      @extend %button;
      font-size: 24px!important;
      width: 100%;
      border-radius: 0!important;
      display: flex;
      justify-content: center;
      height: calc(50% - 17px);
      align-items: center;
      @include media(0, $media-lg) {
        padding: 40px 10px;
      }
      &:first-child {
        margin-bottom: 16px;
      }
    }
  }
}

.main-page .second-block {
  background-image: url(/img/bg/doctor.png);
  background-size: cover;
  background-position: center;
  padding: 42px 0 56px 0;

  .box {
    background-color: #fff;
    padding: 12%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-radius: 10px;
  }
  .box-outer {
    padding-bottom: 30px;
  }
  h2 {
    margin-bottom: 42px;
    color: #fff;
  }
  h3 {
    word-break: break-word;
  }
  h3, p {
    margin-bottom: 10%;
  }
  a {
    @extend %button;
    box-shadow: 0px 4px 20px #71309199;
    padding: 17px 15px 15px 15px;
    width: 100%;
    display: block;
    text-align: center;
  }
}

.main-page .third-block {
  padding: 106px 0 82px 0;
  @include media (0, $media-sm) {
    padding: 50px 0;
  }
}

.main-page .forth-block {
  background-color: #fff;
  padding: 46px 0 65px 0;
  h2 {
    margin-bottom: 32px;
  }
  img {
    width: 100%;
  }
}

.main-page .fifth-block {
  padding: 30px 0 42px 0;
  h2 {
    margin-bottom: 40px;
  }
  .news-box {
    height: calc(100% - 16px);
    margin-bottom: 16px;
    .sub-title {
      font-size: 18px;
      font-family: Light;
      margin-bottom: 23px;
    }
    &-row {
      margin-right: -8px;
      margin-left: -8px;
    }
    &-col {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  .button-block {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 63px;
    @include media(0, $media-md) {
      padding-top: 10px;
    }
  }
  button.more {
    @extend %button;
    border-radius: 5px!important;
    padding: 15px 49px 10px 49px;
  }
  img.reklama {
    width: 100%;
  }
}

.main-page .other-cities {
  @extend %other-cities;
  margin-top: 64px;
  @include media(0, $media-md) {
    margin-top: 50px;
  }
}