@import '../vars.scss';
@import './text-markdown.scss';
@import './first.scss';
@import './third.scss';

.drug-page {
  padding: 75px 0;
  @include media(0, $media-md) {
    padding: 40px 0;
  }
}
.drug-page .comments {
  h2 {
    margin-bottom: 20px;
  }
}

.drug-page section.right {
  position: relative;
  .is-sticky .maintenance {
    margin-top: 0;
  }
  .maintenance {
    margin-top: 19px;
    background-color: #fff;
    padding: 17px 98px 17px 50px;
    h2 {
      margin-bottom: 26px;
    }
    li {
      cursor: pointer;
      list-style: none;
      transition: 0.2s;
    }
    li.active {
      color: $mainColor;
      padding-top: 4px;
      font-family: Medium;
      border-bottom: 2px solid $mainColor;
      margin-bottom: 10px;
    }
    &.bottom {
      position: absolute;
      bottom: 0;
    }
  }
}
.drug-page .banner-big {
  width: 100%;
  margin-top: 40px;
}
.drug-page .second-block {
  padding-top: 42px;

  h2 {
    margin-bottom: 18px;
  }
  p {
    padding-bottom: 19px;
  }
}

.drug-page .divider {
  width: 100%;
  height: 1px;
  background-color: #ccc;
}