@import '../vars.scss';

.drug-page h1 {
  font-size: 36px;
  line-height: 51px;
  font-family: UltraBold;
  @include media(0, $media-sm) {
    font-size: 28px;
    line-height: 33px;
  }
}
.drug-page h2 {
  font-family: Bold;
  font-size: 24px;
  line-height: 26px;
}
.drug-page h3 {
  font-family: Bold;
  font-size: 18px;
  line-height: 26px;
}
.drug-page h4 {
  font-size: 28px;
  font-family: Medium;
}
.drug-page h1,h2,h3,h4,p,li {
  @include media(0, $media-sm) {
    word-break: break-word;
  }
}
.drug-page p, li {
  font-family: Light;
  font-size: 18px;
  line-height: 26px;
}
.drug-page span.violet {
  color: #713091;
}
.drug-page span.green {
  color: #53994D;
}