h1 {
  font-size: 36px;
  line-height: 51px;
  font-family: UltraBold;
}
h2 {
  font-family: Bold;
  font-size: 24px;
  line-height: 26px;
}
li {
  font-family: Light;
  font-size: 18px;
  line-height: 26px;
}