@import '../vars.scss';
@import './first.scss';
@import './second.scss';

.about-page h1 {
  font-family: UltraBold;
  font-size: 36px;
}

.about-page span.bold {
  font-family: Bold;
}



// <-------------- third-block ----------------> //
.about-page .third-block {
  padding: 106px 0 82px 0;
  @include media(0, $media-md) {
    padding: 60px 0 40px 0;
  }

  h2 {
    margin-bottom: 28px;
  }
  .text {
    padding: 0 6% 20px 6%;
  }
  p:first-child {
    margin-bottom: 17px;
  }
  .image-col {
    text-align: center;
  }
}


// <-------------- forth-block ----------------> //
.about-page .forth-block {
  padding-bottom: 80px;
  @include media(0, $media-md) {
    padding-bottom: 40px;
  }
  img {
    width: 100%;
    padding-right: 15px;
    margin-top: 20px;
    @include media(0, $media-lg) {
      padding-right: 0;
      margin-top: 0;
      margin-bottom: 40px;
    }
  }
  p {
    font-size: 24px;
    line-height: 37px;
    margin-bottom: 20px;
  }
}