.terms-of-use {
  padding: 73px 0;
}
.terms-of-use h1 {
  font-family: UltraBold;
  font-size: 36px;
  word-break: break-word;
}
.terms-of-use h2 {
  font-family: UltraBold;
  font-size: 24px;
  margin-bottom: 35px;
  margin-top: 52px;
}
.terms-of-use h3 {
  font-family: Bold;
  font-size: 18px;
  margin-top: 20px;
}
.terms-of-use p {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 18px;
  font-family: Light;
  line-height: 30px;
}
.terms-of-use span.bold {
  font-family: Bold;
}