@import '../vars.scss';

.main-page h1 {
  font-family: Regular;
  font-size: 24px;
}
.main-page h2 {
  font-family: UltraBold;
  font-size: 36px;
}
.main-page h3 {
  font-family: UltraBold;
  font-size: 24px;
  color: $mainColor;
}
.main-page p {
  font-size: 18px;
  line-height: 26px;
  font-family: Regular;
}
.main-page span.bold {
  font-family: Bold;
}