.main-page h1 {
  font-family: Regular;
  font-size: 24px;
}
.main-page h2 {
  font-family: UltraBold;
  font-size: 36px;
}
.main-page a {
  text-decoration: none;
}
.main-page p {
  font-size: 18px;
  line-height: 26px;
  font-family: Regular;
}
.main-page span.bold {
  font-family: Bold;
}

.main-page__news h3 {
  font-family: Regular;
  font-size: 24px;
}
.main-page__news h4 {
  font-family: UltraBold;
  font-size: 36px;
}