@import '../vars.scss';

%booking-form {
  background-color: #fff;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 22px 26px;
  .title {
    font-size: 18px;
    line-height: 19px;
    font-family: UltraBold;
    margin-bottom: 23px;
  }
  label {
    font-size: 14px;
    line-height: 19px;
    font-family: Light;
    color: #626262;
  }
  input {
    border: none;
    border-bottom: 1px solid #CCCCCC;
    background-color: transparent;
    padding: 7px 0 13px 0;
    font-size: 18px;
    font-family: Light;
    width: 100%;
    margin-bottom: 13px;
    &:focus {
      box-shadow: none;
      border-bottom: 1px solid $mainColor;
    }
  }
  .btn-container {
    display: flex;
    justify-content: center;
  }
  button {
    @extend %button;
    padding: 15px 47px;
    margin-top: 25px;
  }
}