@import '../vars.scss';

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 300;

  display: none;
  justify-content: center;
  align-items: center;
  &.open {
    display: flex;
  }
  & > .overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #00000088;
    z-index: 1;
  }
  & > .content {
    z-index: 2;
    background-color: #fff;
  }
}

.report-modal .content {
  max-width: 572px;
  padding: 13px 0;
  margin: 15px;
  max-height: calc(100vh - 30px);
  overflow: auto;
  h2 {
    padding: 13px 70px;
  }
  ul {
    padding: 13px 70px 20px 70px;
    border-bottom: 1px solid #dcdcdc;
    @include media(0, $media-md) {
      padding: 13px 30px 20px 30px;
    }
  }
  ul li {
    display: flex;
    align-items: center;
    margin-bottom: 9px;
    font-size: 18px;
  }
  input {
    margin-right: 20px;
  }
  .btns {
    float: right;
    padding: 0 70px;
    button {
      font-size: 18px;
      font-family: Bold;
      border: none;
      color: #aaa;
      padding: 12px 0 5px;
      background-color: transparent;
      &:first-child {
        margin-right: 40px;
        color: #555;
      }
    }
  }
}

.image-modal .content {
  background-color: transparent;
  text-align: center;
  margin: 5%;
  img {
    width: 100%;
  }
}
.image-modal {
  .gallery-arrows {
    z-index: 200;
    position: absolute;
    bottom: 30px;
    background-color: #00000033;
    padding: 10px 22px;
    border-radius: 14px;

    img {
      cursor: pointer;
      width: 34px;
      padding-top: 10px;
      @extend %user-select-none;
    }

    .left {
      transform: rotate(90deg);
      padding-left: 6px;
      &:hover {
        transform:  scale(1.08) rotate(90deg);
      }
      &:active {
        transform:  scale(1.01) rotate(90deg);
      }
    }
    .right {
      transform: rotate(-90deg);
      padding-right: 6px;
      &:hover {
        transform:  scale(1.08) rotate(-90deg);
      }
      &:active {
        transform:  scale(1.01) rotate(-90deg);
      }
    }
  }
}

.booking-modal, .house-call-modal {
  form {
    position: relative;
    @extend %booking-form;
    @include media(0, $media-md) {
      margin: 15px;
    }

    .close-modal {
      cursor: pointer;
      position: absolute;
      top: 20px;
      right: 33px;
      color: #787878d6;
      font-size: 33px;
      font-family: Regular;
    }
  }
}

.basket-modal {
  .content {
    border-radius: 16px 16px 0 0;
    width: 396px;
    margin: 0 15px;
  }
  .close-modal {
    cursor: pointer;
  }
  .title {
    padding: 28px;
    font-family: Bold;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C6C6C6;
  }
  .item {
    display: flex;
    align-items: center;
    padding: 14px 28px;
    border-bottom: 1px solid #C6C6C6;
    .info {
      flex: 1;
    }
    .icons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .icons i {
      font-size: 18px;
      cursor: pointer;
      &:last-child {
        margin-top: 10px;
        transform: rotate(180deg);
      }
    }
    .custom-checkbox {
      margin-right: 24px;
    }
    .name {
      font-size: 18px;
      font-family: Bold;
    }
    .violet {
      color: $mainColor;
    }
    .green {
      color: #53994D;
    }
    .red {
      color: #F26060;
    }
    .bold {
      font-family: Bold;
    }
    .bottom-row {
      font-size: 14px;
      display: flex;
      align-items: center;
      margin-top: 7px;
    }
    .receipt {
      margin-right: 15px;
    }
  }
  .custom-checkbox {
    cursor: pointer;
    border-radius: 100%;
    border: 1px solid #C1C1C1;
    width: 28px;
    height: 28px;
    overflow: hidden;
    .fill {
      display: none;
      justify-content: center;
      align-items: center;
      height: 100%;
      background-color: #53994D;
      i {
        color: #fff;
        font-size: 20px;
      }
    }
  }

  .result {
    button {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 75px;
      color: #fff;
      width: 100%;
      border: none;
      text-align: center;
    }
    button.active {
      display: none;
      background-color: #8D47AA;

      .text {
        font-size: 18px;
        font-family: Medium;
      }
      .subtext {
        margin-bottom: 7px;
        font-size: 14px;
        font-family: Light;
      }
    }
    button.disabled {
      display: flex;
      background-color: #484848;
      font-size: 18px;
    }
    button:active {
      transform: scale(1);
    }
  }
}

.phones-modal {
  .content {
    position: relative;
  }
  .title {
    padding: 26px 70px 16px 70px;
    border-bottom: 1px solid #ccc;
    .name {
      font-size: 24px;
      font-family: Bold;
    }
    .address {
      font-size: 18px;
    }
    .close-modal {
      cursor: pointer;
      position: absolute;
      top: 33px;
      right: 32px;
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 33px 0;
    .item {
      margin-bottom: 15px;
      font-size: 24px;
    }
  }

  button {
    width: 100%;
    background-color: #8F48AB;
    border: none;
    color: #fff;
    font-size: 18px;
    padding: 16px;
    text-align: center;
    &:active {
      transform: none;
    }
  }
}

.schedule-modal {
  .content {
    position: relative;
  }
  .title {
    padding: 26px 70px 16px 70px;
    border-bottom: 1px solid #ccc;
    .name {
      font-size: 24px;
      font-family: Bold;
    }
    .address {
      font-size: 18px;
    }
    .close-modal {
      cursor: pointer;
      position: absolute;
      top: 33px;
      right: 32px;
    }
  }

  table {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    td {
      padding-right: 15px;
    }
  }

  button {
    width: 100%;
    background-color: #8F48AB;
    border: none;
    color: #fff;
    font-size: 18px;
    padding: 16px;
    text-align: center;
    &:active {
      transform: none;
    }
  }
}