@import '../vars.scss';

%search {
  margin-bottom: 88px;
  @include media(0, $media-md) {
    margin-bottom: 40px;
  }
  .input-wrapper {
    position: relative;
  }
  input {
    padding: 15px 80px;
    font-size: 24px;
    width: 100%;
    font-family: Regular;
    border: none;
    border-radius: 38.5px;
    box-shadow: $shadow1;
    @include media(0, $media-lg) {
      font-size: 18px;
      padding: 15px 40px;
    }
    @include media(0, $media-md) {
      padding: 15px 20px;
      font-size: 16px;
    }
  }
  button {
    @extend %button;
    position: absolute;
    top: 8px;
    bottom: 8px;
    padding: 0 80px;
    right: 10px;
    @include media(0, $media-lg) {
      padding: 0 40px;
    }
    @include media(0, $media-md) {
      padding: 0 13px 0 15px;
      top: calc(50% - 20px);
      bottom: calc(50% - 20px);
    }
  }

  .ui-autocomplete {
    background-color: #bbb;

    li {
      list-style: none;
      padding: 5px 80px;
    }
  }
}