@import '../vars.scss';

@mixin seacrh-media-padding($top) {
  padding: $top 80px;
  @include media(0, $media-lg) {
    font-size: 18px;
    padding: $top 40px;
  }
  @include media(0, $media-md) {
    padding: $top 20px;
    font-size: 16px;
  }
}

%search {
  margin-bottom: 88px;
  @include media(0, $media-md) {
    margin-bottom: 40px;
  }
  .input-wrapper {
    z-index: 15;
    position: relative;
  }
  input {
    @include seacrh-media-padding(15px);
    font-size: 24px;
    width: 100%;
    font-family: Regular;
    border: none;
    border-radius: 38.5px;
    box-shadow: $shadow1;
  }
  button {
    @extend %button;
    position: absolute;
    top: 8px;
    bottom: 8px;
    padding: 0 80px;
    right: 10px;
    @include media(0, $media-lg) {
      padding: 0 40px;
    }
    @include media(0, $media-md) {
      padding: 0 13px 0 15px;
      top: calc(50% - 20px);
      bottom: calc(50% - 20px);
    }
  }

  div[id$="__search-vars"] {
    position: relative;
    z-index: 14;
  }
  .ui-autocomplete {
    box-shadow: $shadow1;
    border-radius: 19px;
    padding-bottom: 20px;
    position: absolute;
    background-color: #fff;
    padding-top: 40px;
    top: -32px!important;
    li {
      list-style: none;
      .ui-menu-item-wrapper {
        @include seacrh-media-padding(5px);
      }
      .ui-state-active {
        background-color: #f1f1f1!important;
      }
    }
  }
}