@import '../vars.scss';

.contacts-page {
  padding: 72px 0;
  @include media(0, $media-md) {
    padding: 40px 0;
  }
  h1 {
    margin-bottom: 31px;
  }
  h2 {
    margin-bottom: 8px;
  }
  .left {
    padding-left: 7%;
    @include media(0, $media-lg) {
      padding-left: 15px;
    }
  }
  .right h2 {
    @include media(0, $media-lg) {
      margin-top: 45px;
    }
  }
  p {
    font-size: 24px;
  }
  .contact-item {
    margin-top: 31px;
  }
}

.contacts-page form {
  padding-top: 33px;
  input {
    margin-bottom: 24px;
  }
  input, textarea {
    background: #FFFFFF;
    box-shadow: $shadowInput;
    border-radius: 10px;
    border: none;
    padding: 7px 34px;
    font-size: 24px;
    line-height: 28px;
    font-family: Regular;
    width: 100%;
    font-family: Regular;

    @include media(0, $media-md) {
      padding: 7px 20px;
      font-size: 18px;
    }
  }
  textarea {
    margin-bottom: 35px;
    height: 153px;
  }
  button {
    padding: 15px 68px;
    @extend %button;
  }
  .input-row {
    display: flex;
  }
  input[name="name"] {
    width: calc(100% - 5px);
    margin-right: 5px;
  }
  input[name="email"] {
    width: calc(100% - 5px);
    margin-left: 5px;
  }
}