@import '../vars.scss';

header {
  background-color: #fff;
  font-family: Meduim;
  box-shadow: $shadowHeader;
  z-index: 100!important;
}
.header {
  align-items: center;
  height: 80px;
}
header .logo {
  height: 34px;
}
header .logo-min {
  width: 34px;
  height: 34px;
  overflow: hidden;

  img {
    height: 100%;
  }
}
header .city-select {
  font-size: 18px;
  display: flex;
  width: auto;

  i.geo {
    color: $mainColor;
    font-size: 21px;
    padding-top: 5px;
  }
  .select-selected {
    padding-right: 62px;
    padding-left: 8px;
  }
  .select-selected:after {
    right: 40px;
  }
}


header .logout {
  cursor: pointer;
  justify-content: flex-end;
}


////// menu

header menu {
  justify-content: space-between;
  align-items: center;
  li {
    cursor: pointer;
    list-style: none;
    text-align: center;
    border-bottom: 2px solid transparent;
    &:not(:last-child) {
      @include media(0, $media-xl) {
        max-width: 85px;
      }
    }
  }
  li a {
    color: #000;
    margin-top: 2px;
    font-family: Medium;
    font-size: 18px;
    line-height: 16px;
  }
  li:hover {
    border-bottom: 2px solid $mainColor;
    a {
      color: $mainColor;
    }
  }
}
