@import '../vars.scss';

header {
  background-color: #fff;
  font-family: Meduim;
}
header .logo {
  height: 34px;
}
header .logo-min {
  width: 34px;
  height: 34px;
  overflow: hidden;
  img {
    height: 100%;
  }
}
header .city-select {
  font-size: 18px;
  display: flex;
  width: auto;

  i.geo {
    color: $mainColor;
    font-size: 21px;
  }
  .select-selected {
    padding-right: 62px;
  }
  .select-selected:after {
    right: 40px;
  }
}
header .burger-menu {
  position: relative;
  justify-content: flex-end;
}
header .modal {
  display: none;
  position: absolute;
  top: 0;
}
header .logout {
  justify-content: flex-end;
}

