@import './header.scss';
@import './secondary-header.scss';
@import './footer.scss';
@import './custom-select.scss';


// reset css
body {
  background-color: #fbfbfb;
  font-family: 'Regular';
}
body,h1,h2,h3,h4,ul,li {
  margin: 0;
  padding: 0;
}

// behaviour css
a {
  text-decoration: none;
}
a, button {
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
button:active {
  transform: scale(0.98);
}
input, textarea {
  &:focus {
    outline: none;
    box-shadow: $shadowFocus;
  }
}


// text markdown default
h1 {
  font-family: 'UltraBold';
  font-size: 36px;
  line-height: 51px;
}
h2 {
  font-family: Medium;
  font-size: 28px;
  line-height: 28px;
}
h3 {
  font-family: Bold;
  font-size: 24px;
  line-height: 26px;
}
h4 {
  font-family: Bold;
  font-size: 18px;
  line-height: 26px;
}
p {
  font-family: Light;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}


// breadcrumbs
.breadcrumbs {
  width: 100%;
  text-align: right;
  font-size: 18px;
  font-family: Regular;
  a {
    color: #000;
  }
  a:hover {
    color: $mainColor;
  }
}
