@import './header.scss';
@import './secondary-header.scss';
@import './footer.scss';

body {
  background-color: #fbfbfb;
  font-family: 'Regular';
}
body,h1,h2,h3,h4,ul,li {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: 'UltraBold';
  font-size: 36px;
  line-height: 51px;
}
h2 {
  font-family: Medium;
  font-size: 28px;
  line-height: 28px;
}
h3 {
  font-family: Bold;
  font-size: 24px;
  line-height: 26px;
}
h4 {
  font-family: Bold;
  font-size: 18px;
  line-height: 26px;
}
p {
  font-family: Light;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}


/* icons */
i.facebook {
  background-image: url(/img/facebook.svg);
  width: 30px;
  height: 30px;
}
i.instagram {
  background-image: url(/img/instagram.svg);
  width: 30px;
  height: 30px;
}
i.vkontakte {
  background-image: url(/img/vk.svg);
  width: 30px;
  height: 30px;
}
i.copyright {
  background-image: url(/img/copyright.svg);
  width: 23px;
  height: 23px;
}
/* end of icons */
