@import '../vars.scss';

.map {
  position: relative;

  .geo-point {
    position: absolute;
    background: radial-gradient(60.09px at 58.35% -50%, #C76BE7 0%, #713091 100%);
    border-radius: 13px;
    box-shadow: $shadow2;
    color: #fff;
    padding: 3px 15px;
    top: 88px;
    left: 33%;
    cursor: pointer;

    .point {
      background-color: #9247B2;
      width: 6px;
      height: 6px;
      border-radius: 100%;
      position: absolute;
      bottom: -15px;
      left: calc(50% - 3px);
    }
  }
}
.map .map-block {
  background-color: #fff;
  border-radius: 12px 12px 0 0;
  position: absolute;
  bottom: 0;
  width: 92%;
  margin: 0 4%;

  .title {
    padding: 13px 31px;
    display: flex;
    border-bottom: 1px solid #ccc;
    .left {
      flex: 1;
    }
    .name {
      font-family: Bold;
      font-size: 28px;
    }
    .address {
      font-size: 18px;
      font-family: Light;
    }
    .icons i {
      color: $mainColor;
      cursor: pointer;
      margin-top: 5px;
    }
  }

  .status-row {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 31px 24px 31px;
    .status-dot {
      border-radius: 100%;
      width: 6px;
      height: 6px;
      background-color: #53994D;
    }
  }

  .mini-block {
    margin: 0 31px;
    border-radius: 22px 22px 0 0;
    background: $gradient;
    color: #fff;
    padding: 14px 27px;

    .name {
      font-family: Bold;
      font-size: 16px;
    }
    .info-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 7px;
    }
    .total {
      display: flex;
      align-items: center;
      margin-bottom: 17px;
    }
    .bold {
      font-size: 18px;
      font-family: Bold;
      padding-left: 10px;
    }
    .text {
      font-size: 14px;
    }
    .mini-text {
      font-size: 12px;
      margin-bottom: 28px;
      &:first-child {
        padding-right: 10px;
      }
    }
  }
}