.secondary-header-wrapper {
  background-color: #fff;
  font-family: Medium;
}
.secondary-header {
  display: flex;
  box-sizing: content-box;
  justify-content: space-around;
  align-items: center;
  border-top: 9px solid #fbfbfb;
  padding: 10px 0;
  flex-wrap: wrap;

  .menu-item {
    font-size: 18px;
    padding: 0 15px;
  }
  .menu-item:hover {
    color: #713091;
  }
}

.secondary-header a {
  color: #000;
}