@import '../vars.scss';
@import './faq-item.scss';

.faq-page {
  padding: 67px 0;
  @include media(0, $media-md) {
    padding: 40px 0;
  }
  .content {
    padding-left: 50px;
    @include media(0, $media-lg) {
      padding-left: 0;
    }
  }
  h1 {
    margin-bottom: 66px;
    @include media(0, $media-lg) {
      margin-bottom: 30px;
    }
  }
}

.faq-page .breadcrumbs {
  margin-bottom: -43px;
  @include media(0, $media-lg) {
    text-align: left;
    margin-bottom: 5px;
  }
}

.faq-page .pagination {
  display: flex;
  justify-content: center;
  .pag-item {
    cursor: pointer;
    border-radius: 100%;
    width: 48px;
    height: 48px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    color: #000;
    font-size: 18px;
    margin-right: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media(0, $media-sm) {
      width: 40px;
      height: 40px;
    }
  }
  .pag-item.active {
    background-color: $mainColor;
    color: #fff;
    box-shadow: none;
  }
  .pag-item:hover {
    background-color: #dfdfdf;
  }
  .pag-item.active:hover {
    background-color: $mainColor;
  }
  .d-arrow-right {
    transform: rotate(180deg);
  }
}

.faq-page .form-block {
  margin-top: 90px;
  .form-title {
    font-size: 24px;
    line-height: 28px;
    font-family: Regular;
    color: #000000;
    margin-bottom: 30px;
  }
  form {
    @extend %contact-form;
  }
}